[submodule "3rd/skynet-etcd"]
	path = 3rd/skynet-etcd
	url = git@github.com:JieTrancender/skynet-etcd.git
[submodule "3rd/lua-cjson"]
	path = 3rd/lua-cjson
	url = https://github.com/mpx/lua-cjson.git
[submodule "3rd/skynet"]
	path = 3rd/skynet
	url = git@github.com:JieTrancender/skynet.git
	branch = luaprofile
